body {
  background-color: black;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  color: white;
}

p {
  text-align: left;
  margin-bottom: 20px;
  font-family: "Times New Roman";
  color: white;
}

/* Shared container for both text and image grid */
.container {
  max-width: 1200px; /* Set a max-width for your layout */
  margin: 0 auto; /* Centers the container */
  padding-left: 20px; /* Same padding as body to align with text */
}

/* Image container styles */
.image-container {
  display: flex;
  justify-content: flex-start; /* Aligns images to the left */
  align-items: center; /* Vertically centers images */
  flex-wrap: wrap; /* Allows images to wrap onto the next line */
  gap: 0px; /* Adds space between images (alternative to margin on images) */
  margin: 20px 0; /* Adds vertical space between images and other content */
}

/* Image styles */
img {
  max-width: 100%; /* Ensures image doesn't exceed container width */
  max-height: 100px; /* Adjust this value as needed */
  height: auto; /* Maintains aspect ratio */
  width: auto; /* Maintains aspect ratio */
  margin: 10px; /* Adds spacing between images */
}

img {
  transition: filter .5s ease-in-out;
  filter: grayscale(100%);
  -webkit-filter: grayscale(0);
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(100%);
}

/* Navbar styles */
nav {
  background-color: black;
  color: white;
  padding: 10px 0;
}

nav a {
  color: white;
  font-family: "Arial Narrow";
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav a:hover {
  background-color: blue;
}

/* Flexbox for navbar alignment */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}
