    .marquee {
      border: 2px solid black;
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
    }

    .marquee span {
        display: inline-block;
        animation: marquee 20s linear infinite;
    }

    @keyframes marquee {
        0% { transform: translateX(100%); }
        100% { transform: translateX(-100%); }
    }